<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Principal's Desk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
           
            <div class="col-md-12">
              <div class="card-body">
                <h5 class="card-title Header text-white bg-primary marpadd">Dr. Manvate U. H. (Principal)</h5>
                <p class="card-text Welcome"><span class="text-danger"> Dear Students ! </span> Welcome to Late
                  Bapusaheb Patil Ekambekar Gramin College,
                  Hanegaon
                  Tq.Degloor Dist.Nanded. It is an
                  institution of academic excellence and achievement, was established in 1997. It is amongst one of the
                  finest colleges
                  within the SRTMU. At our College, we are imparting higher education to young students in India, which
                  is a very
                  substantial, potent. We all know that student are a great human resource and the role of student in
                  the society is
                  critical for development of a nation.</p>
                <p class="Welcome">
                  I want that our students should be imparted an all round education so that they become
                  multidimensional rather than
                  uni-dimensional. In my view, acquiring information is no longer the main focus of education; instead
                  the main aim of
                  education is to build the powers of human mind and spirit. We believe in providing our students an
                  environment, rich in
                  knowledge and supportive for their extra curricular interests. We aim to evaluate our students on the
                  basis of their
                  physical, mental, social, emotional and intellectual development.
                </p>
                <p class="Welcome">
                  Our college is committed to maintaining an academically rich and professionally competent environment
                  by encouraging the
                  enterprising skills of our students. Our faculty members do support and play a vital role in the
                  overall development of
                  our students and the institute.
                </p>
                <p class="Welcome">
                  I welcome you all to this great institution of higher learning and assure you of a nurturing and
                  caring environment that
                  will see all of you blossom into empowered and sensitive human beings.
                </p>
              </div>
            </div>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>