<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <address>
        <h4 class="text-primary text-center">College Address</h4><hr>
        <div class="img-thumbnail " style="margin:10px; padding:20px">
        <b>Principal,</b><br>
        Late. Bapusaheb Patil Ekambekar<br>
        Gramin College ,<br>
        Ramraoji Nagar ,<br>
        161 A NH Highway, Wazar Road Hanegaon<br>
        Tq. Degloor Dist: Nanded 431717<br>
        Tel. 9765028969<br>
        e-mail:- bpegm147@gmail.com<br>
        Website:- www.bpegm.in<br>
      </div>
      </address><hr>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
